@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Serif+Display&family=Passion+One&display=swap');


.img2{
    
}
.home-main-sec{
    background-repeat: no-repeat;
    background-image: url('../backgroundpic.jpg');
    width: 100%;
    height: 730px;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-color: #000000a8;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 50px 40px rgb(0, 0, 0);
}
.home-text-sec1{
    width: 70%;
    height: 250px;
    /* background-color: aqua; */
    
}
#text-1{
    text-align: center;
    font-family: Rowdies;
    font-family: 'Caprasimo', cursive;
    font-family: 'DM Serif Display', serif;
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 55px;
}
#text-2{
    text-align: center;
    color: white;
    font-size: 25px;
}
#email-text-field{
    margin-left: 250px;
    width: 350px;
    height: 55px;
    background-color: rgba(12, 12, 12, 0.712);
    color: white;
    border-radius: 5px;

}
#email-text-field input:focus~label{
    top: -5px;
}
#start-btn{
    width: 180px;
    height: 55px;
    background-color: red;
    margin-left: 8px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border-radius: 4px;
    border: 2px solid red;
}
.home-sec-1{
    background-color: black;
    width: 100%;
    height: 575px;
    margin-top: 7px;
    
    display: flex;
}
.text-area1{
    /* background-color: aqua; */
    width: 40%;
    height: 200px;
    margin-top: 200px;
    margin-left: 190px;
}
#text-3{
    text-align: left;
    font-family: Rowdies;
    font-family: 'Caprasimo', cursive;
    font-family: 'DM Serif Display', serif;
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 55px;
}
#text-4{
    text-align: left;
    color: white;
    font-size: 25px;
    
}
.img-area1{
    margin-top: 65px;
    margin-right: 150px;
    /* background-color: rgb(0, 0, 0); */
    /* width: 40%;
    height: 90%; */
    position: relative;
    z-index: 10;
}
.img-area1 img{
    z-index: 10;
}
.img-area1 video{
    z-index: 0;
}
.video-class{
    position: absolute;
    bottom: 179px;
    left: 76px;
    background-size: cover;
    z-index: 1;
}

.home-sec-2{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 575px;
    margin-top: 7px;
    display: flex;
}
.img-area2{
    padding-top: 70px;
    margin-left: 180px;
    /* background-color: rgb(227, 227, 227); */
    width: 40%;
    height: 575px;
    position: relative;
}
.text-area2{
    /* background-color: aqua; */
    width: 40%;
    height: 250px;
    margin-top: 170px;
    margin-left: 30px;
    
}
.mob-sec-2{
    background-color: rgb(0, 0, 0);
    width: 55%;
    height: 105px;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 7px;
    margin-left: 137px;
    position: absolute;
    bottom: 55px;
    display: flex;
}
#mob-u-pic{
    margin-top: 8px;
    margin-left: 8px;
}
#mob-txt-1{
    color: white;
    margin-left: 25px;
    margin-top: 30px;
}
#mob-txt-2{
    color: rgb(4, 99, 223);
    margin-left: 25px;
}
.home-sec-3{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 392px;
    margin-top: 7px;
    display: flex;
}
.text-area3{
    /* background-color: aqua; */
    width: 35%;
    height: 200px;
    margin-top: 100px;
    margin-left: 190px;
}
.home-sec-4{
    background-color: black;
    width: 100%;
    height: 575px;
    margin-top: 7px;
    display: flex;

}
.text-area4{
    /* background-color: aqua; */
    width: 40%;
    height: 250px;
    margin-top: 190px;
    margin-left: 30px;
    
}
.home-sec-5{
    background-color: black;
    width: 100%;
    height: 575px;
    margin-top: 7px;
}